# OS / shell junk
.bash_history
.psql_history
.sudo_as_admin_successful
.motd.legal-displayed

# Cloud creds
.aws/
.azure/

# Misc
*.log
.cache

# VSCode settings
.vscode/

# Python
__pycache__/
*.pyc
.env.venv/

*.pyo
*.pyd

.venv/
venv/

*.egg-info/
dist/
build/
# generated datasets & model files (too large for Git)
output/
/output/models/
*.safetensors
